/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*~
.DS_Store
/.lein-*
/.nrepl-port
/.env
/env
/resources/public/js/out
/logs
/node_modules
npm-debug.log
main.js
package.json
profiles.clj
